:root{
    --bleh:#FFC700;
    --wha: rgb(0, 255, 119);
    --border-default: 1px solid black;
    --happy-font: 'Love Ya Like A Sister';
    --unhappy-font: 'Roboto Slab', serif;
}
body{
    font-family: var(--unhappy-font);
    position: relative;
    min-height: 100vh;
}
.App{
    display: flex;
    flex-flow: column nowrap;
}
#website-name{
    font-family: var(--happy-font);
}
#login-header,
#translation-header,
#profile-header{
    background-color: #FAB93B;
    font-family: var(--happy-font);
    border-bottom: var(--border-default);
    margin-bottom: 0.5%;
    max-height: 50%;
    width: 100%;
}
#profile-header,
#translation-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#item-1{
    display: inline-block;
    font-size: 55px;
}
#item-2,
#item-3{
    display: inline-block;
    margin: 15px 155px 0px 5px;
    font-size: 77px;
}
.translation-header-item,
#profile-header-item-2{
    display: inline-block;
    font-size: 65px;
    margin: 0px 15px 0px 15px;
}
#profile-header-item-1{
    display: inline-block;
    font-size: 75px;
}
#login-form,
#translation-form{
    width: 20%;
    align-items: center;
}
#logo{
    margin-top: 1%;
    height: fit-content;
    width: 160px;
}
#nav-top{
    width: 100%;
    background-color: var(--bleh);
    justify-content: space-around;
    align-items: center;
    display: flex;
}
#nav-item{
    display: inline-block;
    padding: 20px;
    font-size: 30px;
}
.App nav a{
    text-decoration: none;
    color: black;
}
.App nav a:hover{
    box-shadow: 10px 5px 10px gray;
    border: var(--border-default);
}
#sign-list-header{
    display: inline-block;
    font-size: 50px;
}
#sign-list{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #F9DADA;
    height: 650px;
    width: 600px;
}
ul{
    list-style-type: disc;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    list-style-position: inside;
}
#ASL-word-display{
    border: var(--border-default);
    background-color: var(--wha);
    height: 650px;
    width: 600px;
}
#translated-word{
    font-size: 35px;
}
#nvbr{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: var(--bleh);
    max-height:50px; 
    border-top: var(--border-default);
}
#translation-div{
    flex: 65%;
    display: grid;
    justify-items: center;
    max-height: max-content;
    flex-grow: 1;
}
#profile-div{
    flex: 70%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}
.input-group-lg{
    display: flex;
    flex: 70%;
    flex-direction: row;
    justify-content: center;
}
#profile-buttons-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#rdrct{
    font-size: 25px;
}
#login-header{
    display: flex;
}

#login-header,
#translation-header,
#profile-header,
.input-group-lg,
#translation-div,
#profile-div{
    padding: 12px;
}
#loading{
    font-size: 30px;
}
#empty-translation-list{
    font-size:30px;
}